body{
    height:100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
html{
    scroll-behavior: smooth;
}
*::selection{
    color: aliceblue;
    background-color: rgb(99, 164, 0) ;
}

.loader{
    height:100vh;
    width: 100%;
    /* width: 100vw; */
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
}
.loader h1{
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 100;
}
.image{
    height: 100%;
    background-image: url(jefferson-santos-9SoCnyQmkzI-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
    color: rgb(230, 255, 219);
}
#crsr{
    height: 12px;
    width: 12px;
    background-color: rgb(180, 255, 67);
    border-radius: 50%;
    position: fixed;
    filter: blur(1px);
}
#crsr1{
    height: 55px;
    width: 55px;
    background-color: rgb(180, 255, 67);
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
}
#crsr, #crsr1 {
    pointer-events: none;
}
.text-con{
    max-width: 60%;
    margin: 0 auto;
    padding-top: 270px;
}
.text-con h1{
    font-size: 29px;
        white-space: nowrap;
        overflow: hidden;
        animation: step 4s steps(30) infinite;
        animation-delay: 1.5s;
}
.lg-text{
    font-size:60px;
}
@keyframes step{
    0%{
        width:0%;
        border-right:2px solid  rgb(180, 255, 67) ;
    }
    100%{
        width: 450px;
        border-right:2px solid  rgb(180, 255, 67) ;
    }
}
.black-box{
    background-color:black ;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: aliceblue;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
.scroller{
    display: inline-block;
    white-space: nowrap;
}
.black-box h1{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    padding: 40px 0;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 60px;
    text-transform: uppercase;
}
.black-box h1:hover{
    color: transparent;
    -webkit-text-stroke:0.6px rgb(180, 255, 67) ;
}
img{
    max-height: 270px;
    max-width: 270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    border-radius: 25px;

}
.card{
    max-width: 300px;
    height: 470px;
    border-radius: 9px;
    box-shadow: 3px 3px 20px rgb(180, 255, 67) ;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color:rgb(170, 255, 67) ;
    overflow-y: auto;
    overflow-x: hidden;
    
}
.card::-webkit-scrollbar {
    display: none;
}
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 0px;
    background-color: rgb(17, 17, 17);
}
.card-text{
    padding: 0 20px;
    text-align: justify;
    padding-bottom: 20px;
}
.card h1{
    text-align: center;
}
.card:hover{
    transition: 0.5s ease-in-out;
    transform: translate(-3px,-3px) scale(1.01);
    background-color: rgba(250, 235, 215, 1);
    box-shadow: 3px 3px 20px antiquewhite ;
}
.section2{
    display: flex;
    flex-direction: row;
}
.contact{
    background-color: brown;
    display: flex;
    flex-direction: column;
}
.about{
    background-color: yellow;
}
.contact,.about{
    width: 50%;
}
.about p{
    margin:0 20px ;
}
.contact img{
width: 40px;
height: 40px;
margin: 0;
padding: 20px 20px;
border-radius: 30px;
}
.contact a{
    text-decoration: none;color: black;
}
.contact h1,.about h1{
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    overflow: hidden;
}

footer h1{
    text-align: center;
    margin-top: 0;
    padding: 20px 0;
}






@media (max-width:1000px){
    .section1{
        display: grid;
       grid-row: 2;
    }
    .card{
        margin-top: 30px;
    }
    .section2{
        display: flex;
        flex-direction: column;
    }
    .about,.contact{
        width: 100%;
    }
    .text-con{
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    .image h2{
        margin-top: 0;
    }
    .text-con h1{
        font-size: 24px;
        animation: step 4s steps(30) infinite;
        animation-delay: 1.5s;
    }
    @keyframes step{
        0%{
            width:0%;
            border-right:2px solid  rgb(180, 255, 67) ;
        }
        100%{
            width: 380px;
            border-right:2px solid  rgb(180, 255, 67) ;
        }
    }
}

